.footer
    box-shadow: 0 8px 32px #dddddd
    padding: 48px 32px
    .container
        display: flex
        align-items: center
        flex-direction: column
        > p
            font-size: 13px
            color: #333333
            margin-bottom: 24px
            &:last-child
                margin-bottom: 0