.footer
    border: 1px solid rgba(255,255,255,0.2)
    background: rgba(255,255,255,0.7)
    backdrop-filter: blur(5px)
    -webkit-backdrop-filter: blur(5px)
    box-shadow: 0 8px 32px #dddddd
    padding: 48px 32px
    width: calc(100% - 32px)
    margin: 0 16px 24px 16px
    border-radius: 16px
    .container
        display: flex
        align-items: center
        flex-direction: column
        > p
            font-size: 13px
            color: #333333
            margin-bottom: 24px
        > a
            font-size: 13px
            padding: 8px
            border-radius: 4px
            box-shadow: 0 4px 8px #dddddd
            transition: all 0.3s
            &:hover
                box-shadow: 0 8px 16px #ddd