.header
    box-shadow: 0 8px 32px #dddddd
    padding: 32px 0
    position: fixed
    top: 0
    left: 0
    background: white
    width: 100%
    .container
        max-width: min(1080px, calc(100vw - 64px))
        margin: 0 auto
        .logo
            > img
                height: 56px